{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Текст</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}